<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title} ?: 'Quiz Website'">Quiz Website</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<header th:fragment="header" class="site-header">
    <a class="brand" th:href="@{/home}">Quiz Website</a>
    <nav>
        <a th:href="@{/home}">Home</a>
        <a th:href="@{/quizzes}">Browse quizzes</a>
        <a th:href="@{/quizzes/new}">Create quiz</a>
    </nav>
    <div class="user-box" th:if="${session.user != null}">
        <span>Hi, <span th:text="${session.user.username}">user</span></span>
        <a th:href="@{/logout}">Log out</a>
    </div>
</header>
</body>
</html>
